<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.permission.dao.ApplicationDAO">
    <resultMap id="BaseResultMap" type="com.data.permission.entity.Application">
        <id column="id" jdbcType="CHAR" property="id" />
        <result column="name" jdbcType="CHAR" property="name" />
        <result column="type_id" jdbcType="INTEGER" property="typeId" />
        <result column="created_at" jdbcType="DATE" property="createAt" />
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
    </resultMap>
    <!--查询-->
    <select id="getApplicationById" resultType="com.data.permission.entity.Application">
       select * from application where id=#{id}
    </select>
    <!--插入-->
    <insert id="insertApplication">
        insert  into application(id,name,type_id,deleted) values(#{id},#{name},#{typeId},#{deleted})
    </insert>
    <select id="getList" resultMap="BaseResultMap">
        select * from application
    </select>
</mapper>