<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.data.permission.dao.TableDAO">
    <resultMap id="BaseResultMap" type="com.data.permission.entity.TableCondition">
        <id column="id" jdbcType="CHAR" property="id" />
        <result column="table_name" jdbcType="CHAR" property="tableName" />
        <result column="operator" jdbcType="CHAR" property="operator" />
        <result column="field_name" jdbcType="CHAR" property="fieldName" />
        <result column="field_value" jdbcType="CHAR" property="fieldValue"/>
        <result column="role_id" property="roleId"/>
    </resultMap>
    <!--查询-->
    <select id="getTableConditionByTableName" resultMap="BaseResultMap">
       select * from table_condition where table_name=#{tableName} and role_id  in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>